{% extends 'main.html' %}
{% load static %}
{% block main %}
    <div class="container d-flex justify-content-center align-items-center min-vh-100">
        <div class="row mb-4">
            <div class="col-md-6">
                <img src="{% static 'image/1.jpg' %}" class="img-fluid">
            </div>
            <div class="col-md-6 mt-4">
                {% if messages %}
                    {% for message in messages %}
                        <div class="mt-4 alert {{message.tags}} text-center message-container">{{message}}</div>
                    {% endfor %}
                {% endif %}
                <form action="" method="post" id="form-login" class="mt-4">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="email" class="form-label">Adresse email</label>
                        <input type="email" class="form-control" name="email" id="email" required>
                        <small class="form-text text-danger" id="valid-email"></small>
                    </div>
                     <div class="mb-4">
                        <label for="password" class="form-label">Mot de passe</label>
                        <input type="password" class="form-control" name="password" id="password" required>
                        <small class="form-text text-danger" id="valid-password"></small>
                    </div>
                    <button type="submit" class="btn btn-primary w-100">Se connecter</button>
                </form>
                {% comment %} <h5 class="mt-4"><a href=" {% url "otp" %}">OTP</a></h5> {% endcomment %}
            </div>
        </div>
    </div>
{% endblock main %}
    